.our-works {


}


.our-works__wrapper {
  @include wrapper();
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  padding: 100px 0;

}

.our-works__title {
  text-align: center;
  color: #3b434c;
  font-size: 35px;
  margin-bottom: 30px;
  font-weight: bold;
}

.our-works__desc {
  @include col();
  @include col-6();
  @include col-lg-8();
  @include col-sm-12();


  text-align: center;
  color: $grey;
  font-size: 16px;
  margin-bottom: 100px;

}


.our-works__list {
  @include row-flex();
  justify-content: center;

}

.our-works__item {
  @include col();

  position: relative;

  margin-bottom: 30px;

  img {
    width: 360px;
    height: 360px;
    border-radius: 10px;
    object-fit: cover;

  }

  &:hover > .our-works__item-info {
    display: inline-flex;
    border-radius: 10px;
    background-color: rgba(247, 96, 14, 0.9);
  }

}

.our-works__item-info {
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;
  flex-flow: nowrap column;

  position: absolute;
  top: 0;
  left: 0;

  display: none;

  h3 {
    font-size: 19px;
    margin-bottom: 30px;
  }

  p {
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    margin: 0 55px 50px 55px;
  }
}

.our-works__item-bnt {
  font-size: 16px;
  color: #f68d58;
  font-weight: bold;
  background-color: #ffffff;
  border-color: transparent;
  padding-left: 30px;
  padding-right: 30px;

  &:hover {
    background-color: rgba(254,254,254, 0.6);

  }
}

.our-works__more {
  margin-top: 100px;
  font-weight: bold;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 56px;
  padding-right: 56px;

  &:hover {
    color: #FFFFFF;
  }

}
